<div class="accordion-item">
    <h3 class="accordion-header" id="flush-heading{{ block.question | remove: ' ' | remove: '?' | remove: ',' | remove: "'"  | remove: '.' }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ block.question | remove: ' '  | remove: '?' | remove: ',' | remove: "'" | remove: '.' }}" aria-expanded="false" aria-controls="flush-collapse{{ block.question | remove: ' ' | remove: '?' | remove: ',' | remove: "'" | remove: '.' }}">
        {{ block.question }}
      </button>
    </h3>
    <div id="flush-collapse{{ block.question | remove: ' '  | remove: '?' | remove: ',' | remove: "'"  | remove: '.' }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ block.question | remove: ' ' | remove: '?' | remove: ',' | remove: "'"  | remove: '.' }}" data-bs-parent="#faqAccordion">
      <div class="accordion-body text-start">{{ block.answer }}</div>
    </div>
  </div>
  
  {% schema %}
  {
    "settings": [
        {
            "type": "text",
            "id": "question",
            "default": "Lorem ipsum",
            "label": "Question"
        },
        {
            "type": "richtext",
            "id": "answer",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Answer"
        }
    ]
  }
  {% endschema %}